$myRed: #aa0400;

.characteristics{
    background: $myRed;
    background: linear-gradient(191deg, $myRed 0%, #ff1928 100%);
    display: flex;

    img{
        position: relative;
        margin-top: -3px;
        max-width: 70%;
        min-width: 30%;
    }

    h1{
        font-size: 1.6em;
        color: white;
    }

    span{
        text-align: right;
        padding: 10px;
        width: 30%;
    }

    li{
        margin-bottom: 15px;
        color: white;
    }

    &__texts{
        width: 100%;
        margin-top: 50px;
    }

    &__texts2{
        margin-top: 117px;
    }

}

@media (max-width: 930px) {

    .characteristics{
        img{
            display: none;
        }
       span{   

        width: 100%;
        margin: 10px;
       }

       &__texts{
        margin-top: 0px;
    }

    &__li{
        text-align: right;
        column-count: 2;
        column-gap: 3px;
        
    }

    }
    
}