.register{

    justify-content: center;
    background: black;
    width: 100%;
    color: white;
    margin: auto;

    form{
        display: flex;
        justify-content: center;
    }
    input{
        background: red;
        width: 50%;
    }
}