$myRed: #aa0400;


* {
  box-sizing: border-box;
}

body, html {
 
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

}

.container {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    margin-left: 20px;

}

.menu {
  background: $myRed;
  background: linear-gradient(191deg, $myRed 0%, #ff1928 100%);
  width: 100%;

  &__container {
    padding: 10px 10px;
    color: white;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }

  &__logo{
    width: 50px;
  }
}


.searcher {
  display: flex;
  width: 35%;

  &__container{
    width: 170px;
    height: 35px;
    border: 2px solid white;
  }

  &__search{
    font-family: 'Montserrat', sans-serif;
    width: 135px;
    height: 35px;
    background: transparent;
    padding: 12px 10px;
    border: none;
    color: white;
    outline: none;
    position: absolute;
  }

  &__icon{
    width: 25px;
    height: 25px;
    margin: 3px 5px;
  }

}

::placeholder {
  color: white;
  opacity: 60%;
}

.bannershoe{
    display: flex;
    color: white;
    
    &__texts{
      /*background: aqua; */
    margin: 55px 0px 0px 0px;
    padding: 20px;
    width: 600px;

    }

    &__myshoe{
      /*position: absolute;  left: -55px; max-width: 700px; */
      min-width: 300px;
      max-width: 700px;
      width: 100%;
      top: 55px;
    }

    h1{
      font-size: 3em;
      margin: 0;
      /*margin: 100px 0px 0px 0px; */
    }

    h2{
      margin: 10px 0;
    }

    &__button{

      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      width: 200px;
      height: 50px;
      background: none;
      border: solid white 2px;
      outline: none;
      color: white;
      margin: 10px 0px;
    }

    &__button:hover{
      background: black;
      color: white;
      border: none;
    }
}

.publicity{
    display: flex;
   
    margin-top: -55px;
    color: $myRed;

    &__shoe{
      display: flex;
      background: white;
      width: auto;
      align-items: center;
      justify-content: center;
      margin: 5px;
    }

    &__shoe:hover{
      background: black;
      color: white;
    }

    &__text{
      margin: 0px 20px;

    }

    h2{
      margin: 0;
    }

    img{
      min-width: 50px;
      width: 280px;
      justify-content: center;
    }

    h4{
      margin: 0;
    }

  }

@media (max-width: 930px) {

  .container {
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-left: -20px;
  }

  .menu__container{
    background: black;
  }

  .bannershoe{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    &__texts{
      margin:0px;
      width: 100%;
    }
  }

  .publicity__shoe{
    flex-wrap: wrap;
    margin-top: 65px;
  }
}

@import 'hamburguer';
@import 'especific';
@import 'characteristics';
@import 'changeColor';
@import 'videos';
@import 'register';
