* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 20px;
}

.menu {
  background: #aa0400;
  background: linear-gradient(191deg, #aa0400 0%, #ff1928 100%);
  width: 100%;
}

.menu__container {
  padding: 10px 10px;
  color: white;
  height: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.menu__logo {
  width: 50px;
}

.searcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
}

.searcher__container {
  width: 170px;
  height: 35px;
  border: 2px solid white;
  margin-right: 35px;
}

.searcher__search {
  font-family: 'Montserrat', sans-serif;
  width: 135px;
  height: 35px;
  background: transparent;
  padding: 12px 10px;
  border: none;
  color: white;
  outline: none;
  position: absolute;
}

.searcher__icon {
  width: 25px;
  height: 25px;
  margin: 3px 5px;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 60%;
}

:-ms-input-placeholder {
  color: white;
  opacity: 60%;
}

::-ms-input-placeholder {
  color: white;
  opacity: 60%;
}

::placeholder {
  color: white;
  opacity: 60%;
}

.bannershoe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.bannershoe__texts {
  /*background: aqua; */
  margin: 55px 0px 0px 0px;
  padding: 20px;
  width: 600px;
}

.bannershoe__myshoe {
  /*position: absolute;  left: -55px; max-width: 700px; */
  min-width: 500px;
  max-width: 700px;
  width: 100%;
  top: 55px;
}

.bannershoe h1 {
  font-size: 3em;
  margin: 0;
  /*margin: 100px 0px 0px 0px; */
}

.bannershoe h2 {
  margin: 10px 0;
}

.bannershoe__button {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  width: 200px;
  height: 50px;
  background: none;
  border: solid white 2px;
  outline: none;
  color: white;
  margin: 10px 0px;
}

.publicity {
  /*background: aqua; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  margin-top: -55px;
  color: #aa0400;
}

.publicity__shoe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}

.publicity__shoe:hover {
  background: none;
  border: solid #aa0400 2.5px;
  color: white;
}

.publicity__text {
  margin-left: 20px;
}

.publicity h2 {
  margin: 0;
}

.publicity img {
  min-width: 30px;
  width: 200px;
  justify-items: center;
}

@media (max-width: 930px) {
  .searcher {
    margin-right: 30px;
  }
  .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: -20px;
  }
  .menu__container {
    background: black;
  }
  .bannershoe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bannershoe__texts {
    margin: 0px;
    width: 100%;
  }
  .publicity__shoe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 65px;
  }
}

.mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 0px 20px;
}

.mainnav--mobile {
  position: absolute;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  top: 68px;
  left: -30px;
  width: 50%;
}

.mainnav__link {
  padding: 5px 7px;
}

.mainnav__search {
  margin-left: auto;
}

.mainnav a {
  text-decoration: none;
  color: white;
  margin: 0px 8px;
}

.mainnav a:hover {
  background: #810200;
}

@media (max-width: 930px) {
  .mainnav {
    display: none;
  }
}

.hamburguerbtn {
  background: none;
  width: 50px;
  height: 41px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  outline: none;
}

.hamburguerbtn span {
  height: 3px;
  width: 100%;
  background-color: white;
}

@media (max-width: 930px) {
  .hamburguerbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */